# env
*.env

# System files
.vscode
.venv
**/__pycache__/
.vscode/


# Database, media, static files, migrations
**/migrations/
media/
!docs/media
*.sqlite3
staticfiles/

# Node Modules
node_modules/
package-lock.json
package.json
.vercel

# Deployment Files
build_files.sh
vercel.json