h3 {
    margin-block: 1em .8em;
}

form {
    display: flex;
    flex-direction: column;
    
    * {
        margin-top: 1rem;
    }
    
    input {
        font-size: inherit;
        padding: calc(var(--padding-block) / 1.6) 1rem !important;
        border-radius: var(--border-radius);
        background: color-mix(in srgb, var(--bg) 90%, var(--text) 10%) ;
        border: none;
        color: var(--text);
        
        &:hover {
            background-color: color-mix(in srgb, var(--bg) 80%, var(--text) 20%);
            }
            
            &:focus {
            outline: 1.6px solid var(--pri);
        }
    }
        
    input[disabled] {
        color: color-mix(in srgb, var(--bg) 30%, var(--text) 70%);
        cursor: not-allowed;

        &:hover {
            background-color: color-mix(in srgb, var(--bg) 90%, var(--text) 10%);
        }
    }
}

a {
    margin-right: 1em;
}
