{% extends 'notebook/dashboard.html' %}
{% load static %}

{% block title %}Users{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/admin.css' %}">
{% endblock %}

{% block body %}
    <h1>Users</h1>
    <div name="Users">
        <ul class="notelist">
        {% for user in users %}
            <li>
                <div class="title">{{user.first_name|add:" "|add:user.last_name}}</div>
                <div class="action">
                    {% if user.position != none %}
                    <p class="bubble">{{ user.get_position_display }}</p>
                    {% endif %}
                    {% if request.user.position > user.position and request.user.position == 3 %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{user.username}}">
                        <select name="position">
                            <option value="" disabled selected>Update Position</option>
                            <option value="1">Student</option>
                            <option value="2">PI/Advisor</option>
                            <option value="3">Student Leader</option>
                        </select>
                        <button type="submit" name="action" value="update" class="btn pri-btn">Update</button>
                    </form>
                    {% endif %}
                </div>
            </li>
        {% empty %}
            <li> No Users in this category</li>
        {% endfor %}
        </ul>
{% endblock %}