{% extends 'notebook/layout.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}


{% block nav %}
<h3>Dashboard</h3>
<ul class="dashboard-links">
    <li><a href="{% url 'notebook:dashboard' %}">Notes</a></li>
    <li><a href="{% url 'notebook:upload' %}">New Note</a></li>
    <li><a href="{% url 'notebook:teams' %}">Teams</a></li>
    {% if request.user.position == 3 %}
    <li><a href="{% url 'notebook:admin' %}">Users</a></li>
    {% endif %}
    <li><a href="{% url 'notebook:account' %}">My Account</a></li>
</ul>
{% endblock %}