{% extends 'notebook/layout.html' %}
{% load static %}


{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/dashboard.css' %}">
{% endblock %}
{% block title %}Dashboard
{% endblock %}
{% block body %}

    <header>
        <section id="info">
            <h1>Hi, {{ request.user.first_name }}</h1>
            <p><span>{{ request.user.position }}</span> <span>{{ request.user.team }}</span></p>
        </section>
        <section  id="action">
            {% if request.user.verified == True %}
            {% else %}
            <div class="btn-large">Your account needs to be verified to upload notes.</div>
            {% endif %}
        </section>
    </header>
    {% include 'notebook/notelist.html' %}
{% endblock %}

