{% extends 'notebook/layout.html' %}
{% load static %}


{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/index.css' %}">
{% endblock %}

{% block body %}
    <h1>IISc Bengaluru iGEM Notebook</h1>
    <ul class="list-blocks" id="notebook-list">
        <li><a href="{% url 'notebook:notebook' 'drylab' %}">Drylab</a></li>
        <li><a href="{% url 'notebook:notebook' 'design' %}">Design</a></li>
        <li><a href="{% url 'notebook:notebook' 'wetlab' %}">Wetlab</a></li>
        <li><a href="{% url 'notebook:notebook' 'webdev' %}">Web Development</a></li>
        <li><a href="{% url 'notebook:notebook' 'hp' %}">Human Practices</a></li>
    </ul>
{% endblock %}

