{% extends 'notebook/layout.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/index.css' %}">
{% endblock %}


{% block body %}
    <h1>IISc Bengaluru iGEM Notebook</h1>
    <ul class="list-blocks" id="notebook-list">
        {% for department in departments %}
        <li><h4>{{ department.name }}</h4><a href="{% url 'notebook:notebook' department.code %}" class="btn pri-btn">View Notebook <span class="float">></span></a></li>
        {% empty %}
        <li>No Notebook exists. Please contact admin for creating Notebooks</li>
        {% endfor %}
    </ul>
{% endblock %}

