{% extends 'notebook/layout.html' %}
{% load static %}


{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/index.css' %}">
{% endblock %}

{% block body %}
    <h1>IISc Bengaluru iGEM Notebook</h1>
    <ul class="list-blocks" id="notebook-list">
        <li><h4>Dry Lab</h4><a href="{% url 'notebook:notebook' 'drylab' %}" class="btn pri-btn">View Notebook <span class="float">></span></a></li>
        <li><h4>Wet Lab</h4><a href="{% url 'notebook:notebook' 'wetlab' %}" class="btn pri-btn">View Notebook <span class="float">></span></a></li>
        <li><h4>Human Practices</h4><a href="{% url 'notebook:notebook' 'hp' %}" class="btn pri-btn">View Notebook <span class="float">></span></a></li>
        <li><h4>Design</h4><a href="{% url 'notebook:notebook' 'design' %}" class="btn pri-btn">View Notebook <span class="float">></span></a></li>
        <li><h4>Web Development</h4><a href="{% url 'notebook:notebook' 'webdev' %}" class="btn pri-btn">View Notebook <span class="float">></span></a></li>
    </ul>
{% endblock %}

