{% extends 'common/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'notebook/base.css' %}">
{% block page_style %}
{% endblock %}
{% endblock %}

{% block content %}
<div id="left-panel">
    <nav id="sec-nav">
        <div id="page-nav">
            <button id="close-sec-nav-btn" class="btn toggle-btn" onclick="closeSecNav()"><span class="material-icons">close</span></button>
            {% block nav %}
            {% endblock %}
        </div>
        {% if request.user.is_authenticated %}
        <div id="app-nav">
            <ul class="h-links">
                <li><a class="h-link" href="{% url 'notebook:dashboard' %}">Dashboard</a></li>
            </ul>
        </div>
        {% endif %}
    </nav>
</div>
<div id="right-panel">
    <button id="open-sec-nav-btn" class="btn toggle-btn" onclick="openSecNav()"><span class="material-icons">menu_open</span> Menu</button>
    {% block body %}
    {% endblock %}
</div>

<script src="{% static 'notebook/sec-nav-toggle.js' %}"></script>
{% endblock %}
