{% extends 'common/layout.html' %}
{% load static %}

{% block title %}Notebook{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'notebook/base.css' %}">
{% block page_style %}
{% endblock %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<nav id="sec-nav">
    <ul>
        <li><a class="btn pri-btn-outline" href="{% url 'notebook:dashboard' %}">Dashboard</a></li>
        {% if request.user.verified == True %}
        <li><a class="btn pri-btn-outline" href="{% url 'notebook:upload' %}">New Note</a></li>
        {% endif %}
        {% if request.user.leader_of.all|length != 0 %}
        <li><a class="btn pri-btn-outline" href="{% url 'notebook:manage' %}">Manage</a></li>
        {% endif %}
    </ul>
    {% block sec-nav %}
    {% endblock %}
    <ul>
        <li><span class="btn"><strong>{{ request.user.username }}</strong></span></li>
        <li><a class="btn danger-btn-outline" href="{% url 'notebook:logout' %}">Logout</a></li>
    </ul>
</nav>
{% endif %}
<script src="{% static 'notebook/sec-nav.js' %}"></script>
{% block body %}
{% endblock %}
{% endblock %}