{% extends 'notebook/layout.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/session.css' %}">
{% endblock %}

{% block body %}
<div class="info">
    <h1>Login</h1>
    <p>Don't have an account? <a href="{% url 'notebook:register' %}">Sign up</a> now!</p>
</div>

<form method="post" action="{% url 'notebook:login' %}">
    <h2>Welcome Back!</h2>
    
    <div class="form">
        {{ message }}
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required autofocus>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <input type="submit" class="pri-btn" value="Login">
</form>

{% endblock %}