{% load static %}

<ul class="notelist">
    {% for note in notes %}
        <li>
            <div class="title">{{ note.title }}</div>
            <div class="meta">
                <div class="user">{{ note.user }}</div>
                <div class="team">{{ note.user.team }}</div>
                <div class="link">
                    <a href="{% url 'notebook:note' note.id %}" class="btn pri-btn">View Note</a>
                </div>
            </div>
        </li>
    {% empty %}
        <li>No notes have been added yet.</li>
    {% endfor %}
</ul>