{% load static %}

{% if request.user.verified == True %}
{{ message }}
{% csrf_token %}
<form method="POST" enctype="multipart/form-data" action="{% url 'notebook:image_upload' %}" id="image_upload">
    {{ image_upload_form }}
</form>
<form method="POST" enctype="multipart/form-data" action="{% url link %}" id="content">
    <button type="submit" id="form_submit" value="{{ note_id }}" name="edit" class="btn pri-btn">Save Note</button>
    {{ form }}
</form>
<script src="{% static 'notebook/note_form.js' %}"></script>

{% else %}
    <p>You need to be verified to add or modify a note.</p>
    <p>Please contact the admin for verification.</p>
{% endif %}
