{% extends 'notebook/layout.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/note.css' %}">
<link rel="stylesheet" href="{% static 'notebook/markdown.css' %}">
{% endblock %}

{% block title %}{{ note.title }}{% endblock %}

{% block body %}
{% if request.user.is_authenticated and request.user == note.user %}
<ul class="note-action">
    <li><a href="{% url 'notebook:manage_note' note.id %}" class="btn action-btn-outline">Edit</a></li>
    <li><form action="{% url 'notebook:manage_note' note.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete" name="delete" class="btn danger-btn-outline"></form></li>
</ul>      
{% endif %}
<div class="note">
    <div class="meta">
        <h1>{{ note.title }}</h1>
        <p class="author">{{ note.user.first_name }} {{ note.user.last_name }}</p>
        <p class="notebook">{{ note.department }}</p>
        {% if note.file %}
        <a href="{{ note.file.url }}" class="btn pri-btn">View attached file <span class="float">></span></a>
        {% endif %}
    </div>
    
    <div class="markdown-body">{{ note.content|linebreaks }}</div>
    
</div>
<script src="{% static 'notebook/markdown.js' %}"></script>
{% endblock %}