{% load static %}

{% if request.user.verified == True %}
<div id="images">
    <p>Images</p>
    <form data-url="{% url 'notebook:image_upload' %}" id="image_upload">
        {% csrf_token %}
        <label for="id_image" class="btn task-btn"><span class="material-icons">folder_open</span> &nbsp;Browse</label>
        <button type="submit" class="btn pri-btn"><span class="material-icons">upload</span></button>
        <input style="display:none;" type="file" accept="image/*" id="id_image" required>
    </form>
    <ul id="image_selector">
        {% for image in images %}
        <li id="{{ image.id }}">
            <img src="{{ image.image.url }}" alt="{{ image.image.url }}" class="image" onclick="preview('{{ image.image.url }}')">
            <p class="img-name">{{ image.location }}</p>
            <div class="img-actions">
                <button type="copy" class="btn copy-btn" onclick="copyLink('{{image.image.url}}')"><span class="material-icons">content_copy</span></button>
                <button type="delete" class="btn danger-btn" onclick="deleteImage('{{ image.id }}')"><span class="material-icons">delete</span></button>
            </div>
        </li>
        {% empty %}
        <p id="no-img">No images uploaded yet.</p>
        {% endfor %}
    </ul>
</div>
<form method="post" enctype="multipart/form-data" action="{% url link %}" id="content">
    {% csrf_token %}
    <div id="actions">
        <button type="submit" id="form_submit" value="{{ note_id }}" name="edit" class="btn pri-btn">Save Note</button>
    </div>
    {{ form }}
</form>
<script src="{% static 'notebook/note_form.js' %}"></script>

{% else %}
    <p>You need to be verified to add or modify a note.</p>
    <p>Please contact the admin for verification.</p>
{% endif %}
