{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/notelist.css' %}">
{% endblock %}
<ul>
    {% for note in notes %}
        <li>
            <div class = "list">
            <div>{{ note.title }}</div>
            <div class = "name">{{ note.user }}</div>
            <div class = "team">{{ note.user.team }}</div>
            <div class = "link">
                <a href="{% url 'notebook:note' note.id %}">View Note</a>
            </div>
        </div>
        <br>
        </li>
    {% empty %}
        <li>No notes have been added yet.</li>
    {% endfor %}
</ul>