{% extends 'notebook/layout.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/session.css' %}">
{% endblock %}

{% block title %}Sign Up{% endblock %}

{% block nav %}

<div class="info">
    <h1>Sign Up</h1>
    <p>Already have an account? <a href="{% url 'notebook:login' %}">Login</a> now!</p>
</div>

{% endblock %}

{% block body %}
<form method="post" action="{% url 'notebook:register' %}">
    <h2>Create an account</h2>
    <small>Fields with * are required.</small>
    {{ message }}
    <div class="form">
        {% csrf_token %}
        <input type="text" name="first" placeholder="First Name*" required autofocus>
        <input type="text" name="last" placeholder="Last Name*" required>
        <input type="text" name="username" placeholder="Username*" required>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password*" required>
        <input type="password" name="confirmation" placeholder="Confirm Password*" required>
        <small><span class="material-icons">error</span> Password must be atleast 8 characters long and should not be solely numeric.</small>
    </div>
    <input type="submit" class="btn pri-btn" value="Create account">
</form>

{% endblock %}