{% extends 'notebook/layout.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/notebook.css' %}">
{% endblock %}

{% block body %}
<h2>Teams</h2>
<ul class="notelist">
    {% for team in teams %}
        <li>
            <div class="title">{{ team.name }}</div>
            <div class="meta">
                {% if request.user in team.members.all %}
                    <div class="team">Member</div>
                {% elif request.user in team.leader.all %}
                    <div class="team">Leader</div>
                {% elif request.user in team.waitlist.all %}
                    <div class="team">Requested</div>
                {% else %}
                <form method="post" action="{% url 'notebook:teams' %}">
                    {% csrf_token %}
                    <input type="hidden" name="code" value="{{team.code}}">
                    <input type="submit" value="Request to Join" class="btn pri-btn">
                    </form>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}