{% extends 'notebook/dashboard.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/notebook.css' %}">
{% endblock %}

{% block body %}
    <h1>Teams</h1>
    <nav id="sec-nav">
        <ul>
            {% if request.user.position == 'STUDLDR' %}
            <li><a class="btn pri-btn-outline" href="{% url 'notebook:teams' 'all' %}">All Teams</a></li>
            {% endif %}
            <li><a class="btn pri-btn-outline" href="{% url 'notebook:teams' 'my' %}">My Teams</a></li>
            <li><a class="btn pri-btn-outline" href="{% url 'notebook:teams' 'other' %}">Other Teams</a></li>
        </ul>
    </nav>
    <div name="Teams">
        <ul class="notelist">
        {% for team in teams %}
            <li>
                    <div class="title">{{team}}</div>
                    <div class="meta">
                        {% if request.user in team.members.all %}
                            <div class="position">Member</div>
                            <div class="cardinality">Total members:{% with le=team.leader.all|length %} {{team.members.all|length|add:le}}{% endwith %}</div>
                            <a class="btn pri-btn" href="{% url 'notebook:team' team.code 'Leaders' %}">View</a>
                        {% elif request.user in team.leader.all %}
                            <div class="position">Leader</div>
                            <div class="cardinality">Total members:{% with le=team.leader.all|length %} {{team.members.all|length|add:le}}{% endwith %}</div>
                            <a class="btn pri-btn" href="{% url 'notebook:team' team.code 'Leaders' %}">View</a>
                        {% elif request.user in team.waitlist.all %}
                            <div class="position">Requested</div>
                        {% else %}
                            <div class="join">
                                <form class="meta req" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="code" value="{{team.code}}">
                                    <input type="submit" value="Request to Join" class="btn pri-btn">
                                </form>
                            </div>
                        {% endif %}
                    </div>
            </li>
        {% empty %}
            <li> No Teams </li>
        {% endfor %}
        </ul></div>
        <script src="{% static 'common/sec-nav.js' %}"></script>
{% endblock %}