{% extends 'notebook/dashboard.html' %}
{% load static %}

{% block page_style %}
<link rel="stylesheet" href="{% static 'notebook/notebook.css' %}">
{% endblock %}

{% block body %}
    <h1>{{ department }}</h1>
    <nav id="sec-nav">
        <ul>
            <li><a class="btn pri-btn-outline" href="{% url 'notebook:verify' department.code %}">Waitlist</a></li>
            {% if request.user.verified == True %}
            <li><a class="btn pri-btn-outline" href="{% url 'notebook:roles' department.code %}">Roles</a></li>
            {% endif %}
        </ul>
    </nav>
    <h2>Waitlist</h2>
    <ul class="notelist">
    {% for user in waitlist %}
        <li>
                <div class="title">{{user.first_name|add:" "|add:user.last_name}}</div>
                <div class="meta">
                    <div class="user">{{user.username}}</div>
                    <div class="team">{{user.email}}</div>
                <form method="post" action="{% url 'notebook:verify' department.code %}">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{user.username}}">
                    <input type="submit" value="Approve" class="btn pri-btn">
                    </form>
                </div>
        </li>
    {% empty %}
        <li> No pending requests </li>
    {% endfor %}
    </ul>
    <script src="{% static 'notebook/sec-nav.js' %}"></script>
{% endblock %}