input, textarea, button {
    font-family: inherit;
}


.notelist {
    margin-block: var(--padding-block);
    list-style-type: none;
    border-radius: var(--border-radius);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    li {
        padding-block: calc(var(--padding-block));
        padding-inline: calc(var(--padding-inline) / 1.6);
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 1rem;
        border-radius: calc(var(--border-radius) / 1.6);
        background: color-mix(in srgb, var(--bg) 90%, var(--sec) 10%);

        .meta {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        .meta div {
            text-align: center;
        }
        .title {
            text-align: start;
            font-weight: 700;
        }

        .link {
            text-align: right;
        }
    }
}

@media (width < 800px) {
    .notelist li {
        grid-template-columns: 1fr;
    }
}

/* Sec Nav */

#sec-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    ul {
        height: fit-content;
        border-radius: var(--border-radius);
        margin-block: var(--padding-block);
        background-color: color-mix(in srgb, var(--bg) 90%, var(--sec) 10%);
        padding: 0.3rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 0rem;
        list-style-type: none;
    }
}
