input, textarea, button {
    font-family: inherit;
}


.notelist {
    margin-block: var(--padding-block);
    list-style-type: none;
    border-radius: var(--border-radius);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    li {
        padding-block: calc(var(--padding-block));
        padding-inline: calc(var(--padding-inline) / 1.6);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        border-radius: calc(var(--border-radius) / 1.6);
        background: color-mix(in srgb, var(--bg) 90%, var(--sec) 10%);

        .meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }

        .meta div {
            text-align: center;
            text-overflow: ellipsis;
            min-width: fit-content;
        }
        .title {
            text-align: start;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 700;
        }

        .link {
            text-align: right;
        }
    }
}



/* Layout */
main {
    display: grid;
    grid-template-columns: 38% auto;
}

#right-panel {
    max-width: 80ch;
}

#left-panel {
    position: sticky;
    top: var(--pri-nav-height);
    display: flex;
    margin-inline-end: var(--padding-inline);
    height: calc(100svh - var(--pri-nav-height, 8svh));
}


/* Sec Nav */

#sec-nav {
display: flex;
flex-direction: column;
justify-content: space-between;

    /* The below * + * selects every child except the first one */
    ul {
        list-style-type: none;
    }

    #page-nav ul {
        list-style-type: none;
        margin-top: 3em;
        font-weight: 400;

        * + * {
            margin-top: .5em;
        }

        details > summary {
            cursor: pointer;
        }

        ul {
            margin-left: 1em;

            &:last-child {
                margin-bottom: .5em;
            }
        }

        .active {
            font-weight: 500;
            text-decoration-color: color-mix(in srgb, var(--bg) 60%, var(--text) 40%);
            color: var(--text);
        }
    }

    #app-nav ul {
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
        
        a {
            text-decoration: none;
        
        }
    }
}

@media (width < 850px) {
    .notelist li {
        grid-template-columns: 1fr;
    }

    main {
        grid-template-columns: 1fr;
    }

    #left-panel {
        display: none;
    }
}