#notebook-list{
    padding-block: var(--padding-block);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    list-style-type: none;
    gap: 1rem;

    li {
        padding-block: var(--padding-block);
        padding-inline: calc(var(--padding-inline) / 1.6);
        border-radius: var(--border-radius);
        background: color-mix(in srgb, var(--bg) 90%, var(--sec) 10%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;

    }

}