form {
    padding-block: var(--padding-block);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    #form_submit {
        width: fit-content;
        cursor: pointer;
    }
}

form div {
    .CodeMirror {
        max-width: 50svw;
        height: 100%;
        scroll-behavior: none;
    }

    .toggle_button {
        margin-inline: .5rem;
        height: .5rem;
        width: 1rem !important;
        position: relative;
        cursor: pointer;
    }

    .toggle_button::before{
        /* background-color: color-mix(in srgb, var(--bg) 80%, var(--text) 20%); */
        content: "";
        display: block;
        position: absolute;
        width: 2rem;
        height: 1.2rem;
        top: 50%;
        right: -.5rem;
        transform: translateY(-50%);
        border: none;
        border-radius: .6rem;
        background-color: color-mix(in srgb, var(--bg) 70%, var(--text) 30%);
    }

    .toggle_button::after {
        content: "";
        display: block;
        aspect-ratio: 1/1;
        height: .8rem;
        position: absolute;
        top: 50%;
        left: -.3rem;
        transform: translateY(-50%);
        border-radius: .5rem;
        background-color: var(--text);
        transition-duration: var(--transition-duration);
        background-color: white;
    }
    .toggle_button:checked::after {
        left: .5rem;
        transition: var(--transition-duration);
    }
    .toggle_button:checked::before {
        background-color: var(--pri);
        transition-duration: var(--transition-duration);
    }

    .clear_button {
        margin-inline: 3.2rem;
        height: .5rem;
        width: fit-content !important;
        position: relative;
        cursor: pointer;
    }

    .clear_button::before{
        content: "Clear file";
        display: block;
        position: absolute;
        text-align: center;
        width: calc(7.4rem - 2 * var(--padding-inline-btn));
        padding: var(--padding-block-btn) var(--padding-inline-btn);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: var(--border-radius);
        background-color: color-mix(in srgb, var(--bg) 70%, var(--text) 30%);
        transition-duration: var(--transition-duration);
    }
    .clear_button:checked::before {
        content: "Clear file ⨉";
        color: white;
        background-color: red;
        transition-duration: var(--transition-duration);
    }

}