:root {

    --pri-nav-height: 8svh;
}
main {
    display: grid;
    grid-template-columns: 20% auto;
    gap: 1rem;
    padding: 0 var(--padding-inline);
    height: calc(100svh - var(--pri-nav-height));

}

#images {
    display: flex;
    flex-direction: column;
    max-height: calc(100svh - var(--pri-nav-height));
    gap: 1rem;
    #id_image {
        width: 100%;
    }
}

@keyframes pinch-in {
    to {
        height: 0;
        list-style: 0;
        padding: 0;
        margin: 0;
    }
}

#image_selector {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    overflow-y: scroll;
    background-color: color-mix(in srgb, var(--bg) 90%, var(--text) 10%);
    list-style-type: none;
    border-radius: var(--border-radius);

    li {
        animation: pinch-in var(--transition-duration) linear;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        padding: 1rem;
        p {
            margin-bottom: 0;
        }
    }

    .img-actions {
        margin-top: 1rem;
        display: flex;
        gap: .5rem;
        border-radius: var(--border-radius);

        .btn {
            flex-grow: 1;
        }
    
    }

    .img-name {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
    }
}

.image {
    width: 100%;
    border: 5px solid white;
    cursor: pointer;
    outline: 2px solid transparent;
    transition-duration: var(--transition-duration);
    
    &:hover {
        border-width: 0;
        transition-duration: var(--transition-duration);
    }

    &:active {
        filter: blur(1px);
    }
}

#image_upload {
    display: flex;
    gap: .5rem;

    label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        flex-grow: 1;
    }
}

#content {
    display: grid;
    height: calc(100svh - var(--pri-nav-height));
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    label {
        display: none;
    }

    & > div {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #id_title, #id_department {
        background-color: var(--bg);
        color: color-mix(in srgb, var(--text) 80%, var(--bg) 20%);
        border: none;
        font-size: var(--fs-0);
        padding: var(--padding-block-btn) var(--padding-inline-btn);
        outline: transparent;
        border-bottom: 1px solid transparent;

        &:focus {
            color: var(--text);
            border-bottom-color: var(--pri);
        }
    }
    
    #id_title {
        width: 100%;
        padding-inline: 0;
    }

    #id_department {
        margin-right: 1rem;
    }

    div:has(> #id_department) {
        grid-column: 1;
    }

    div:has(> #id_title) {
        grid-column: span 4;
    }

    div:has(> #id_file) {
        grid-column: 1 / 4;
        grid-row: 2.5;
        display: flex;
        justify-content: space-between;
    }

    div:has(> #id_published) {
        grid-column: 4;
        grid-row: 2;

        justify-content: end;
        gap: 1em;

        label {
            display: block;
        }

    }

    #actions {
        grid-column: 5;
        grid-row: 2;
        display: flex;
        justify-content: end;
    }

    div:has(> #id_content){
        grid-column: span 5;
        height: 80svh;
        width: 100%;
    }

    .CodeMirror {
        height: 100%;
        width: 100%;
        scroll-behavior: none;
        font-family: var(--monospace);
        font-size: .8em;
        border-radius: var(--border-radius);
    }

    .toggle_button {
        margin-inline: .5rem;
        height: .5rem;
        width: 1rem !important;
        position: relative;
        cursor: pointer;
    }

    .toggle_button::before{
        /* background-color: color-mix(in srgb, var(--bg) 80%, var(--text) 20%); */
        content: "";
        display: block;
        position: absolute;
        width: 2rem;
        height: 1.2rem;
        top: 50%;
        right: -.5rem;
        transform: translateY(-50%);
        border: none;
        border-radius: .6rem;
        background-color: color-mix(in srgb, var(--bg) 70%, var(--text) 30%);
    }

    .toggle_button::after {
        content: "";
        display: block;
        aspect-ratio: 1/1;
        height: .8rem;
        position: absolute;
        top: 50%;
        left: -.3rem;
        transform: translateY(-50%);
        border-radius: .5rem;
        background-color: var(--text);
        transition-duration: var(--transition-duration);
        background-color: white;
    }
    .toggle_button:checked::after {
        left: .5rem;
        transition: var(--transition-duration);
    }
    .toggle_button:checked::before {
        background-color: var(--pri);
        transition-duration: var(--transition-duration);
    }

    .clear_button {
        margin-inline: 2rem;
        height: .5rem;
        width: fit-content !important;
        position: relative;
        cursor: pointer;
    }

    .clear_button::before{
        content: "Clear file";
        display: block;
        position: absolute;
        text-align: center;
        min-width: max-content;
        padding: var(--padding-block-btn) var(--padding-inline-btn);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: var(--border-radius);
        color: var(--text);
        background-color: color-mix(in srgb, var(--bg) 70%, var(--text) 30%);
        transition-duration: var(--transition-duration);
    }
    .clear_button:checked::before {
        content: "Clear file ⨉";
        color: white;
        background-color: red;
        transition-duration: var(--transition-duration);
    }


}