.note-action {
    grid-column: span 3;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
    margin-bottom: 1.5rem;

    a, input {
        color: var(--text);
    }

    form input {
        font: inherit;
    }
}


.note {
    width: clamp(98%, 80vw, 80%);
    max-width: 80ch;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 5rem;
    place-items: center;

    
}
h1 {
    grid-column: span 3;
    overflow-x: auto;
    height: max-content;
    overflow: hidden;
}

p.author {
    font-style: italic;
}
p.author::before {
    content: "by ";
}

.meta {
    grid-column: span 3;
    display: grid;
    gap: 2rem;
    grid-template-columns: subgrid;

    h1 {
        grid-column: span 3;
    }

    p {
        text-align: justify;
    }

    a {
        grid-column: 3;
    }
}

div.markdown-body {
    grid-column: span 3;
}



