
.note {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    place-items: center;
}
h1 {
    grid-column: span 3;
    text-align: center;
}

p.author::before {
    content: "~ ";
}

.meta {
    grid-column: span 3;
    display: grid;
    gap: 2rem;
    grid-template-columns: subgrid;

    h1 {
        grid-column: span 3;
        text-align: center;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2;

        p {
            text-align: center;
        }
    }

    a {
        grid-column: 2;
    }
}

div.markdown-body {
    grid-column: span 3;
    width: clamp(98%, 80vw, 80%);
    max-width: 80ch;
    text-align: justify;
}



