/* forms */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.info {
    padding-block: var(--padding-block);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    padding-block: var(--padding-block);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
input {
    color: var(--text);
    background-color: color-mix(in srgb, var(--bg) 95%, var(--text) 5%);
    outline-color: transparent;
    border: none;
    font-size: 1rem;
    border-radius: var(--border-radius);
    padding: calc(var(--padding-block) / 1.6) calc(var(--padding-inline) / 1.6) !important;
    transition-duration: var(--transition-duration);
    transition-property: background-color, color;
    
    &:hover {
        transition-duration: var(--transition-duration);
        background-color: color-mix(in srgb, var(--bg) 90%, var(--text) 10%);
    }
    
    &:focus {
        outline: 1.6px solid var(--pri);
    }
}