input, textarea, button {
    font-family: inherit;
}


.notelist {
    margin-block: var(--padding-block);
    list-style-type: none;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    li {
        padding-block: var(--padding-block);
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        border-bottom: 1px solid color-mix(in srgb, var(--bg) 60%, var(--text) 40%);

        .action {
            display: flex;
            gap: .5rem;
        }

        .action {
            display: flex;
            gap: .5rem;
            align-items: center;
        }

        .action div {
            text-align: center;
            text-overflow: ellipsis;
            min-width: fit-content;
        }
        .title {
            text-align: start;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 700;
        }

        .link {
            text-align: right;
        }
    }
}



/* Layout */
main {
    display: grid;
    grid-template-columns: 38% 62%;
}

#right-panel {
    max-width: 80ch;
    width: 100%;
}

#left-panel {
    position: sticky;
    top: var(--pri-nav-height);
    display: flex;
    margin-inline-end: var(--padding-inline);
    height: calc(100svh - var(--pri-nav-height));
}


/* Sec Nav */

#sec-nav {
display: flex;
flex-direction: column;
justify-content: space-between;

    .title-link {
        color: var(--text);
    }

    /* The below * + * selects every child except the first one */
    ul {
        list-style-type: none;
    }

    #page-nav ul {
        list-style-type: none;
        margin-top: 3em;
        font-weight: 400;

        * + * {
            margin-top: .5em;
        }

        details > summary {
            cursor: pointer;
            }
        
            ul {
                margin-left: 1em;
        
                &:last-child {
                    margin-bottom: .5em;
                }
            }

        .active {
            font-weight: 500;
            text-decoration-color: color-mix(in srgb, var(--bg) 60%, var(--text) 40%);
            color: var(--text);
        }
    }

    #app-nav ul {
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
        
        a {
            text-decoration: none;
        
        }
    }
}

.tabs {
    margin-top: 1em;
    
    ul {
        display: flex;
        gap: 1rem;
        list-style-type: none;
        height: 100%;

        li {
            box-sizing: border-box;
            height: fit-content;
        }
        a {
            display: flex;
            align-items: center;
            gap: .5em;
            box-sizing: border-box;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            padding: var(--padding-block-btn) var(--padding-inline-btn);
        }

        a.active {
            color: var(--text);
            font-weight: 500;
            border-bottom-color: var(--text);
        }
    }
}

.bubble {
    color: var(--bg);
    background-color: var(--text);
    padding: var(--padding-block-btn) var(--padding-inline-btn);
    border-radius: var(--border-radius);

    &.bubble-text {
        padding: .05em .5em;
        position: relative;
        transform: translateY(-.05em);
        font-size: .8em;
    }
}

@media (width < 850px) {
    .notelist li {
        grid-template-columns: 1fr;
    }

    main {
        grid-template-columns: 1fr;
    }

    #left-panel {
        display: none;
    }
}