{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <title>{% block title %}Home{% endblock %} - iGEM IISc 2024</title>
    <link rel="stylesheet" href="{% static 'common/common.css' %}">
    <script src="{% static 'common/mathjax.js' %}"></script>

    {% block style %}{% endblock %}
    {% block specific_style %}{% endblock %}
</head>
<body>
    <nav id="pri-nav">
        <div class="logo">iGEM IISc</div>
        <ul>
            <li><a href="{% url 'notebook:index' %}" class="btn pri-btn-outline">Notebook</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>