{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} - iGEM IISc 2024</title>
    <link rel="stylesheet" href="{% static 'common/common.css' %}">
    <script src="{% static 'common/mathjax.js' %}"></script>
    <style>
        
    </style>
    {% block style %}{% endblock %}
    {% block specific_style %}{% endblock %}
    {% block packages_script %}{% endblock %}
</head>
<body>
    <nav id="pri-nav">
        <div class="logo">iGEM IISc</div>
        <ul>
            <li><a href="http://2024.igem.wiki/iisc-bengaluru" class="btn nav-btn">Wiki</a></li>
            <li><a href="{% url 'notebook:index' %}" class="btn nav-btn">Documentation</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
<script src="{% static 'common/sec-nav.js' %}"></script>
<script src="{% static 'common/deletion_warning.js' %}"></script>
</body>
</html>