/* General */

@font-face {
    font-family: 'dmSans';
    src: url('/static/font/dmSans.ttf') format('truetype');
}

@font-face {
    font-family: 'dmSans';
    src: url('/static/font/dmSansIt.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('/static/font/inter.ttf') format('truetype');
}

:root {
    --bg: #fcf8f0;
    --pri: #0047e0;
    --pri-dark: #0037ac;
    --sec: #cc9e5e;
    --sec-dark: #a67a3e;
    --faded-text: rgba(0, 0, 0, 0.726);
    --text: black;
    --header-font: 'Inter', sans-serif;
    --body-font: 'dmSans', sans-serif;
    --padding-inline: clamp(20px, 5vw, 5rem);
    --padding-block: clamp(20px, 4vh, 4rem);
    --border-radius: 1rem;
    --transition-duration: 0.15s;
    --padding-block-btn: .3rem;
    --padding-inline-btn: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1a1a1a;
        --faded-text: rgba(255, 255, 255, 0.726);
        --text: white;
        --pri: #1a63ff;
        --pri-dark: #0047e0;
    }
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: color-mix(in srgb, var(--bg) 70%, var(--text) 30%) color-mix(in srgb, var(--bg) 90%, var(--text) 10%);
    scrollbar-width: thin;
}

body {
    font-family: var(--body-font);
    background-color: var(--bg);
    color: var(--text);
    margin: auto;
    max-width: 1920px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: 700;
}

h1 {
    font-size: 2.986rem;
}
h2 {
    font-size: 2.488rem;
}
h3 {
    font-size: 2.074rem;
}
h4 {
    font-size: 1.728rem;
}
h5 {
    font-size: 1.44rem;
}
h6 {
    font-size: 1.2rem;
}
p {
    font-size: 1rem;
}

small {
    font-size: 0.833rem;    
}

a {
    color: var(--pri);
}

input, textarea, button {
    font-family: inherit;
}

/* nav */

nav a {
    color: var(--text);
}
#pri-nav {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--padding-inline);
    align-items: center;
    height: 10svh;

    ul {
        width: fit-content;
        height: fit-content;
        border-radius: var(--border-radius);
        margin-block: var(--padding-block);
        background-color: color-mix(in srgb, var(--bg) 90%, var(--sec) 10%);
        padding: 0.3rem 0;
        display: flex;
        gap: 0rem;
        list-style-type: none;

        a {
            text-decoration: none;
        }

    }
}

/* general styling */

main {
    padding-inline: var(--padding-inline);
}

.btn, input[type=file]::file-selector-button {
    color: inherit;
    padding: var(--padding-block-btn) var(--padding-inline-btn);
    text-decoration: none;
    border: none;
    transition-duration: var(--transition-duration);
    border-radius: var(--border-radius);
    cursor: pointer;
    span.float {
        transition-duration: var(--transition-duration);
    }
    
    &:hover {
        transition-duration: var(--transition-duration);

        span.float {
            transition-duration: var(--transition-duration);
            margin-inline: 0.5rem;
        }
    }
}

.pri-btn-outline {
    &:hover {
        background-color: color-mix(in srgb, var(--bg) 80%, var(--sec) 20%);
    }
}


.pri-btn, .active-btn, input[type=file]::file-selector-button {
    color: white;
    background-color: var(--pri);

    &:hover {
        background-color: var(--pri-dark);
    }
}

.danger-btn-outline {
    background-color: color-mix(in srgb, var(--bg) 80%, red 20%);

    &:hover {
        color: white;
        background-color: rgb(201, 0, 0);
    }
}

.danger-btn {
    color: white;
    background-color: red;

    &:hover {
        background-color: darkred;
    }
}

.action-btn-outline {
    background-color: color-mix(in srgb, var(--bg) 80%, rgb(94, 255, 0) 20%);

    &:hover {
        background-color: color-mix(in srgb, var(--bg) 60%, rgb(94, 255, 0) 40%);
    }
}

.action-btn {
    color: white;
    background-color: rgb(48, 180, 0);

    &:hover {
        background-color: rgb(12, 141, 0);
    }
}

.disabled {
    cursor: not-allowed !important;
}